.direction {
    display: none;
    @media screen and (min-width: 1200px) {
    display: block;
      }
    padding-bottom: 94px;
        &__list {
        display: flex;
      }
        &__item:not(:last-child) {
        margin-right: 30px;
      }
        &__overley {
        position: relative;
      }
  }

  .overley__nick {
    position: absolute;
    bottom: 0;
  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
  
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--background-color--);
    background-color: rgba(47, 48, 58, 0.8);
  }