.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    
    @media screen and (max-width: 1199px) {
    width: 450px;
    min-height: 609px 
    }
    @media screen and (min-width: 1200px) {
    min-width: 528px;
    min-height: 581px;
    }
    padding: 40px;
  
    background-color: var(--background-color--);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  
    transition: transform 500ms linear;

        &__title {
        margin-bottom: 12px;
      
        font-weight: 700;
        font-size: 20px;
        @media screen and (max-width: 1199px) {
        line-height: 1.5;
        width: 370px; 
        }
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--main-text-color--);
      }
  }
  