 // Mobile screen

@media screen and (min-width: 480px) and (max-width: 767px) {
.team {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--buttons-port-color--);
  &__title {
    margin-bottom: 30px;

    color: var(--main-text-color--);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .teammates {
    display: block;

    &__card {
      text-align: center;
      background-color: var(--background-color--);
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
    }
      &__card:not(:last-child) {
      margin-bottom: 30px;
    }
}
.teammate {
  &__inform {
  padding-top: 30px;
  padding-bottom: 24px;
}
  &__name {
  margin-bottom: 10px;

  color: var(--main-text-color--);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
  &__profession {
  margin-bottom: 16px;

  color: var(--ouwer-text-color--);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
}

.social-profiles {
display: flex;
justify-content: center;

  &__item:not(:last-child) {
  margin-right: 10px;
}
  &__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: var(--icon-color--);
  background-color: var(--background-color--);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  &__icon {
  fill: currentColor;
}
  &__link:hover,
  &__link:focus {
  color: var(--background-color--);
  background-color: var(--accent-first-color--);
}
}
}
}

// Tablet screen

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  
    background-color: var(--buttons-port-color--);
    &__title {
      margin-bottom: 30px;
  
      color: var(--main-text-color--);
      font-weight: 700;
      font-size: 28px;
      line-height: 1.17;
      text-align: center;
      letter-spacing: 0.03em;
    }
    .teammates {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  
      &__card {
        text-align: center;
        background-color: var(--background-color--);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
          0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
      }
        &__card:nth-child(2n + 1) {
        margin-right: 30px;
      }
      &__card:nth-child(-n + 2) {
        margin-bottom: 30px;
      }
  }
  .teammate {
    &__inform {
    padding-top: 30px;
    padding-bottom: 24px;
  }
    &__name {
    margin-bottom: 10px;
  
    color: var(--main-text-color--);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
    &__profession {
    margin-bottom: 16px;
  
    color: var(--ouwer-text-color--);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
  }
  
  .social-profiles {
  display: flex;
  justify-content: center;
  
    &__item:not(:last-child) {
    margin-right: 10px;
  }
    &__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  
    color: var(--icon-color--);
    background-color: var(--background-color--);
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
    &__icon {
    fill: currentColor;
  }
    &__link:hover,
    &__link:focus {
    color: var(--background-color--);
    background-color: var(--accent-first-color--);
  }
  }
  }
  }
  
   // PC screen

@media screen and (min-width: 1200px) {
.team {
    @include section;
    background-color: var(--buttons-port-color--);
  }

.teammates {
    display: flex;

        &__card {
        text-align: center;
        background-color: var(--background-color--);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
          0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
      }
        &__card:not(:last-child) {
        margin-right: 30px;
      }
    }

    .teammate {
        &__inform {
        padding-top: 30px;
        padding-bottom: 30px;
      }
        &__name {
        margin-bottom: 10px;
      
        color: var(--main-text-color--);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
      }
        &__profession {
        margin-bottom: 16px;
      
        color: var(--ouwer-text-color--);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
      }
    }
  
  .social-profiles {
    display: flex;
    justify-content: center;

        &__item:not(:last-child) {
        margin-right: 10px;
      }
        &__link {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
      
        color: var(--icon-color--);
        background-color: var(--background-color--);
      
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
          background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
        &__icon {
        fill: currentColor;
      }
        &__link:hover,
        &__link:focus {
        color: var(--background-color--);
        background-color: var(--accent-first-color--);
      }
  }
}