:root {
  --main-text-color--: #212121;
  --ouwer-text-color--: #757575;
  --logo-color-text--: #000000;
  --accent-first-color--: #2196f3;
  --accent-second-color--: #188ce8;
  --background-color--: #ffffff;
  --background-footer-color--: #2f303a;
  --little-bg-color--: #f5f5f5;
  --buttons-port-color--: #f5f4fa;
  --conteiner-color--: #eeeeee;
  --footer-text-color--: rgba(255, 255, 255, 0.6);
  --background-section--: #e5e5e5;
  --line-color--: #ececec;
  --icon-color--: #afb1b8;
  --main-font--: Roboto, sans-serif;
}